[Unit]
Description=Prometheus Pushgateway
Documentation=https://github.com/prometheus/pushgateway
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
EnvironmentFile=-/etc/default/pushgateway
ExecStart=/opt/argus-insight/prometheus/pushgateway $PUSHGATEWAY_OPTS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
