[Unit]
Description=Unity Catalog Server
Documentation=https://docs.unitycatalog.io/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=unitycatalog
Group=unitycatalog
EnvironmentFile=-/etc/default/unitycatalog-server
Environment=JAVA_HOME=/opt/argus-insight/unity-catalog/jre
ExecStart=/opt/argus-insight/unity-catalog/bin/start-uc-server
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
LimitNOFILE=100000
TimeoutStopSec=60
WorkingDirectory=/opt/argus-insight/unity-catalog

[Install]
WantedBy=multi-user.target
