#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	# Application
	mkdir -p debian/argus-insight-agent/opt/argus-insight-agent
	cp -r app debian/argus-insight-agent/opt/argus-insight-agent/

	# Install Python dependencies
	pip3 install --root=debian/argus-insight-agent --prefix=/opt/argus-insight-agent --no-deps .

	# Entry point
	mkdir -p debian/argus-insight-agent/opt/argus-insight-agent/bin
	install -m 755 scripts/argus-insight-agent debian/argus-insight-agent/opt/argus-insight-agent/bin/argus-insight-agent

	# Config
	mkdir -p debian/argus-insight-agent/etc/argus-insight-agent
	install -m 640 packaging/config/config.yml debian/argus-insight-agent/etc/argus-insight-agent/config.yml
	install -m 640 packaging/config/config.properties debian/argus-insight-agent/etc/argus-insight-agent/config.properties

	# Directories
	mkdir -p debian/argus-insight-agent/var/log/argus-insight-agent
	mkdir -p debian/argus-insight-agent/var/lib/argus-insight-agent
